<h1 class="jumbotron text-center">LALALALA</h1>
<div id="burgerEntry" class="row">

    <div class="card">
      <h4 class="card-header">Asking Price</h4>
      <div class="card-block px-2">
    {{#each books}}
    <li>{{this.asking_price}}</li>
  {{/each}}
      </div>
    </div>


    <div class="card">
      <h4 class="card-header">ISBN</h4>
      <div class="card-block px-2">
         {{#each books}}
    <li>{{this.isbn}}</li>
  {{/each}}
      </div>
    </div>

</div>

